html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header, footer, main {
    padding: 20px;
}

header, footer {
    background-color: #2b4a2d;
    color: #fff;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 20px;
}

p {
    margin: 20px 0;
}

header a {
    color: #fff;
}

header .link {
    display: inline-block;
    width: 120px;
    padding: 0 0 10px;
    border-bottom: 5px solid #fff;
}

header .link.active {
    padding: 0 0 5px;
    border-bottom: 10px solid #fff;
}

main img {
    display: block;
    margin: 0 auto 40px;
    padding: 5px;
    border: 1px solid #2b4a2d;
}

img.intro {
    width: 200px;
}

img.histoire {
    width: 350px;
}

.schemas {
    background-color: #29302d;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
}

table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 2px;
}

table td {
    border: 1px solid #fff;
}

table caption {
    color: #fff;
}

.back {
    height: 20px;
}

.middle {
    height: 100px;
}

.front {
    height: 40px;
}

.side {
    width: 15px;
}

.center {
    width: 65px;
}

.net {
    border: 3px solid #698062;
    padding: 1px;
}

.bottom-separator {
    padding: 0 0 20px;
    border-bottom: 1px solid #2b4a2d;
}

footer span {
    border-left: 1px solid #fff;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}
