html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #29302d;
  padding: 20px;
}

footer{
  color: white;
  margin-top: 20px;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 2px;
}

table td {
  border: 1px solid #fff;
}

table caption {
  color: #fff;
}

.back {
  height: 20px;
}

.middle {
  height: 100px;
}

.front {
  height: 40px;
}

.side {
  width: 15px;
}

.center {
  width: 65px;
}

.net {
  border: 3px solid #698062;
  padding: 1px;
}
